.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #f5f5f5;
    padding-top: 20px;
}
/*html {*/
/*    position: relative;*/
/*    min-height: 100%;*/
/*}*/
/*body {*/
/*    background-color: rgb(204,255,255);*/
/*    font-family: times;*/
/*    padding: 60px 0 0 0;*/
/*}*/
/*body > .container{*/
/*    padding: 60px 0 0 0;*/
/*}*/
/*.menubtn{*/
/*    text-align: right; */
/*    color: black;*/
/*    font-weight: bold;*/
/*    text-decoration: underline;*/
/*}*/
.carousel { 
    padding: auto; 
    margin: auto; 
}
#my-nav-bar{
    height: 90px;
}